:root {
    /* create primary colors */
    --primary-black: #333333;
    --primary-white: #fafafa;
    
    /* create accent colors */
    --accent-purple: #9933FF;
    
    /* create fonts */
    --font: "Andale Mono", sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--body-font);
    background-color: var(--primary-black);
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1200px;
    min-height: 100vh;
    color: var(--primary-white);
}

h1, h2, h3 {
    font-family: var(--font);
    color: var(--accent-purple);
    margin-bottom: 1rem;
}

h1 {
    font-size: 2.5rem;
    letter-spacing: 0.05em;
    font-weight: 900;
}

p {
    font-family: var(--font);
    letter-spacing: 0;
    padding: 0;
    margin: 0;
}

.header-name {
    font-size: 2rem;
    color: var(--accent-purple);
    font-weight: 900;
    padding: 0;
    margin: 0;
}