/* import fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root {
    /* create primary colors */
    --primary-black: #333333;
    --primary-white: #fafafa;
    
    /* create accent colors */
    --accent-purple: #9933FF;
    
    /* create fonts */
    --header-font: "Roboto", sans-serif;
    --body-font: "Rubik", sans-serif;
}

body {
    /* Use the body font as default, not both fonts */
    font-family: var(--body-font);
    background-color: var(--primary-black); /* Use CSS variable */
    margin: 0;  /* Remove default margins */
    padding: 0; /* Remove default padding */
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh; /* Full viewport height */
    color: var(--primary-white); /* Set default text color */
}

h1, h2, h3 {
    font-family: var(--header-font);
    color: var(--accent-purple);
    margin-bottom: 1rem; /* Add some spacing */
}