<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Zoe Droulias</title>
        <link rel="stylesheet" href="styles.css">
        <link rel="icon" href="static/assets/coding-memoji.png" type="image/png">
    </head>

    <body align="center">
        <h3>Get to know</h3>
        <h1>Friendship Bracelet Visualizer</h1>

        <h2>About the Project</h2>

        <p>This app is targeted towards those who love creating friendship bracelets. This app lets users test out color schemes without wasting any precious materials.</p>

        <h2>The Interface</h2>
        <img src="/static/interfaces/friendship-bracelet.png" alt="screenshot of promptl interface" style="width: 600px; height: auto;">
    </body>
</html>