{% extends "base.html" %}
{% block content %}

<h3>Get to know</h3>
<h1>Promptl</h1>

<h2>About the Project</h2>

<p>This web app is designed to help users remain positive as they rank the activities in their day on a scale of 1 to 10 of positivity (1 is low positivity, 10 is high positivity). This lets users keep track of the events/activities that they enjoy. Over time, they can see their most popular ratings (of all of the events they've added), and how each event is rated in a monthly and yearly chart.</p>

<h2>The Interface</h2>
<img src="/static/assets/msofe1.png" alt="screenshot of promptl interface" style="width: 600px; height: auto;">

<img src="/static/assets/msofe2.png" alt="screenshot of promptl interface" style="width: 600px; height: auto;">

<img src="/static/assets/msofe3.png" alt="screenshot of promptl interface" style="width: 600px; height: auto;">

{% endblock %}