<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Zoe Droulias</title>
        <link rel="stylesheet" href="styles.css">
        <link rel="icon" href="assets/coding-memoji.png" type="image/png">
    </head>

    <body align="center">
        <h3>Get to know</h3>
        <h1>Promptl</h1>
        <p>I love creative writing and always tried to get my sister to join me in these pursuits. But she never liked writing (or reading) because of her dyslexia. She claimed it was hard to write school papers due to spelling and grammatical structures she couldn’t grasp. She needed a low-pressure way to build her skills, and a way to motivate her to make progress towards her writing goals.</p>

        <p>I created Promptl to help kids like her enjoy creative writing while building their skills. The web app features a gamified point and streak system to motivate kids with learning differences. Users get 5 prompts (character, job, item, location, and bonus word worth 2x points) to incorporate into stories of at least 70 words. I prioritized accessibility in the design—using dyslexia-friendly fonts, high contrast colors, and intuitive visual cues to show prompt usage. The interface celebrates small wins to build confidence. I worked closely with education specialists to ensure the app addressed real classroom needs.</p>

        <h2>The Interface</h2>
        <img src="/assets/interfaces/promptl1.png" alt="screenshot of promptl interface" style="width: 600px; height: auto;">

        <img src="/assets/interfaces/promptl2.png" alt="screenshot of promptl interface" style="width: 600px; height: auto;">

        <img src="/assets/interfaces/promptl3.png" alt="screenshot of promptl interface" style="width: 600px; height: auto;">
    </body>
</html>